<div class="menu mb-1 mt-2">
    <app-back-button
        (click)="back()"
    >
    </app-back-button>
</div>
<form class="option animacao">
    <h2 class="fw-bold w-100 text-center">Selecione qual ou quais Regiões você deseja apostar <span class="fw-bold" style="color: var(--color-warning);">(max 2)</span></h2>
    
    <div class="info d-flex justify-content-between">
        <div class="info_container">
            <h3 class="w-100 text-center">Escolha</h3>
            <p class="w-100 fw-bold text-center">{{betDTO.listNumber.length}}/{{ regionsNumber$}}</p>
        </div>
        <div class="info_container">
            <h3 class="w-100 text-center">Retorno</h3>
            <p class="w-100 fw-bold text-center">{{factor(betDTO)}}x</p>
        </div>
    </div>

    <div #scrollContainer class="cities mb-3 p-1">
        @for (region of regions$ | async; track region.id) {
            <app-city
                [id] = "region.id"
                [img]=region.img
                [name]=region.name
                [isLimitExceeded]="isMaxLimitExceeded"
                (showLimitMessage)="showLimit()"
                (returnId)="togglerRegion(region)"
            >
            </app-city>
        }
    </div>
    <div class="payment">
        <div class="d-flex justify-content-between mb-2">
            <h3 class="fw-bold d-flex">Custo</h3>
            <div class="return d-flex">
                <h3 class="w-100">Retorno<span class="fw-bold">R$ {{ formatedValue(betDTO.balance) }}</span></h3>
            </div>
        </div>
        <app-custom-input
            type="card"
            class="card_value"
            type_input="number"
            placeholder="20,00"
            [(value)]="betDTO.balance"
        ></app-custom-input>
        <p class="fw-bold text-center mt-2">( Saldo: R$ {{userDTO.balance}} )</p>
    </div>
    <app-button
        class="w-100"
        text="Confirmar"
        (click)="change()"
    ></app-button>
</form>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div #liveToast class="toast bg-dark text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
        
        <div class="toast-header bg-dark text-white border-bottom border-secondary">
        <strong class="me-auto">Atenção</strong>
        <small>Agora</small>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>

        <div class="toast-body">
        {{messageToast}}
        </div>
    </div>
</div>
@if (results == "confirm") {
    <div class="modal-overlay">
        <app-modal-results
            title="Atenção"
            textBet="Você deseja confirmar a sua aposta no valor de R$ {{betDTO.balance}} em {{formatedList}}?"
            text_button="Confirmar"
            [backed]="true"
            (closed)="closeConfModal()"
            (selected)="next()"
            ></app-modal-results>
        </div>
}
    @if (results == 'drawn') {
        <div class="modal-overlay">
            <app-modal-results
                title="Aposta Realizada!"
                img="assets/icons/check.png"
                textBet="Código do sorteio: {{bet.id}}"
                text_button="Ver Resultado"
                (selected)="showResult()"
            ></app-modal-results>
        </div>
    }
@if (results == "result") {
    <div class="modal-overlay">
        <app-modal-results
            title="Região Sorteada!"
            img={{sortRegion.img}}
            textBet={{sortRegion.name}}
            text_button="Confirmar"
            (selected)="openResult()"
        ></app-modal-results>
    </div>
}
@if (results == "win") {
    <div class="modal-overlay">
        <app-modal-results
            title="Parabéns"
            img="assets/icons/pichu.png"
            [textBet]="'Você apostou R$ ' + bet.balance" 
            [textReceived]="'e arrecadou R$ ' + bet.value"
            text_button="Confirmar"
            (selected)="closeModal()"
        ></app-modal-results>
    </div>
}@if (results == "lose") {
    <div class="modal-overlay">
        <app-modal-results
            title="Não foi dessa vez!"
            img="assets/icons/try-again.png"
            textBet="Mas continue, os melhores treinadores nunca desistem!"
            text_button="Confirmar"
            (selected)="closeModal()"
        ></app-modal-results>
    </div>
}