.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
:host(.animacao) form {
  animation: toBottom 1s ease;
}
@media(max-width:500px){
  span{
    display: block;
  }
}