.option{
    width: 25rem;
    background-color: var(--color-details);
    padding: 1rem;
    border-radius: 1rem;
}
.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}