.menu-group{
    background-color: var(--color-details);
    width: 4rem;
    gap: 2rem;
    position: fixed;
    z-index: 10;
    height: 100vh;
    align-items: center;
}
.menu{
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 3rem;
}
img{
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
}
img:hover{
    border-radius: 0.5rem;
    transform: scale(1.2);
    background-color: #3f2ba193;
}

@media (max-width:700px){
    .menu-group{
        flex-direction: row;
        height: 4rem;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 0;
        flex-direction: row;
    }
    .menu{
        flex-direction: row;
        padding-left: 4rem;
        padding-right: 4rem;
        width: 100%;
    }
}
@media(max-width:500px){
    .menu{
        flex-direction: row;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
    }
}