.container-fluid{
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.container-content{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}
main{
    background-image: linear-gradient(192deg, #00001E 0.67%, #00003A 94.31%);
}