<div class="menu mb-1 mt-2">
    <app-back-button
        (click)="back()"
    >
    </app-back-button>
</div>
<form class="option animacao mb-5">
    <h2 class="fw-bold w-100 text-center">Selecione qual ou quais Regiões você deseja apostar <span class="fw-bold" style="color: var(--color-warning);">(max 3)</span></h2>
    
    <div class="info d-flex justify-content-between">
        <div class="info_container">
            <h3 class="w-100 text-center">Escolha</h3>
            <p class="w-100 fw-bold text-center">0/9</p>
        </div>
        <div class="info_container">
            <h3 class="w-100 text-center">Retorno</h3>
            <p class="w-100 fw-bold text-center">180x</p>
        </div>
    </div>

    <div #scrollContainer class="cities mb-3">
        @for (city of regions; track $index) {
            <app-city
                [img]=city.img
                [city]=city.name
            >
            </app-city>
        }
    </div>
    <div class="payment">
        <div class="d-flex justify-content-between mb-2">
            <h3 class="fw-bold d-flex">Custo</h3>
            <div class="return d-flex">
                <h3 class="w-100">Retorno<span class="fw-bold">R$ {{valor}}</span></h3>
            </div>
        </div>
        <app-custom-input
            type="card"
            ngClass="card_value"
            type_input="number"
            placeholder="20,00"
            [(value)]="card"
        ></app-custom-input>
    </div>
    <app-button
        text="Seguinte"
        (click)="change()"
    ></app-button>
</form>
@if (results=="confirm") {
    <div class="modal-overlay">
        <app-modal-results
            title="Atenção"
            text="Você deseja confirmar a sua aposta no valor de R$ 20,00 em Bumbassaur?"
            text_button="Confirmar"
            selected="prox()"
        ></app-modal-results>
    </div>
}@if (results=="win") {
    <div class="modal-overlay">
        <app-modal-results
            title="aa"
            text="Você deseja confirmar a sua aposta no valor de R$ 20,00 em Bumbassaur?"
            text_button="Confirmar"
        ></app-modal-results>
    </div>
}