.option{
  width: 30rem;
  background-color: var(--color-details);
  padding: 1rem;
  border-radius: 1rem;
}
.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
:host(.animacao) form {
  animation: toBottom 1s ease;
}
.info_container{
    width: 10rem;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}
.info_container p{
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--color-primary);
}