img{
    display: flex;
    width: 90%;
    max-width: 30rem;
    animation: normal toTop 1s;
}
.about{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 30rem;
    height: wrap;
    background-color: var(--color-details);
    padding: 1rem;
    border-radius: 1rem;
    animation: normal toBottom 1s;
    margin-bottom: 2rem;
}    