.modal-result{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.option{
    max-width: 20rem;
}
img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    display: block;
    overflow: hidden;
}
.imgAlt{
    width: 4rem;
    height: 4rem;
}
p{
    opacity: 0.9;
    width: 100%;
    line-height: 1.5rem;
    text-align: center;    
    margin: 0;
}