/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #6A50FF;   /* azul */
  --color-details: #1C1C4C;   /* azul escuro para contraste */
  --color-red: #FF0004;       /* vermelho */
  --color-disable: #7E7E7E;   /* cor desabilitados */
  --color-white: #fefefe;     /*cor branca */
  --color-background:  linear-gradient(192deg, #00001E 0.67%, #00003A 94.31%); /*cor para bordas */
}

/* configuração de cores inicial */
h2,h3,p,label{
  font-family: "Quicksand", sans-serif;
  color: var(--color-white);
}
h2{
  font-size: 1.4rem;
}
h3{
  font-size: 1.2rem;
}
p{
  font-size: 1.1rem;
}
label{
  font-weight: 1.2rem;
}

@keyframes toBottom {
    from{
        transform: translateY(+200%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes toTop {
    from{
        transform: translateY(-300%);
    }
    to{
        transform: translateY(0);
    }
}
