<div class="container-fluid m-0 p-0 d-flex flex-row">
    <app-menu class="vh-100" select="history"></app-menu>
    <section class="main">
        <div class="option animacao">
            <h3>Histórico de Aposta</h3>
            @if (bets$ | async; as bets) {
                @if (bets.length>0) 
                {
                    @for (bet of bets; track bet.id) {
                        <div class="accordion mt-2 w-100" data-bs-theme="dark" id="accordionHistory-{{bet.id}}">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed fw-bold" type="button" 
                                            data-bs-toggle="collapse" 
                                            [attr.data-bs-target]="'#collapse-' + bet.id" 
                                            aria-expanded="false" 
                                            [attr.aria-controls]="'collapse-' + bet.id">
                                        {{ bet.createdAt | date:'dd/MM/yyyy HH:mm' }}
                                    </button>
                                </h2>

                                <div [id]="'collapse-' + bet.id" class="accordion-collapse collapse" 
                                     [attr.data-bs-parent]="'#accordionHistory-' + bet.id">
                                    <div class="accordion-body">
                                        <p>Tipo de Aposta: <span class="fw-bold">{{ bet.typeBet }}</span></p>
                                        <p>Valor Apostado: <span class="fw-bold">{{ bet.balance | currency:'BRL' }}</span></p>                                        
                                        <hr>
                                        <div #scrollContainer class="listBet">
                                            @if(bet.typeBet=="REGION"){
                                                @for (region of bet.listNumber; track $index) {
                                                    <app-city
                                                        [img] = getImage(bet,region.number)
                                                        [name] = region.name
                                                    >
                                                    </app-city>
                                                }
                                            }@else{
                                                @for (pokemon of bet.listNumber; track $index) {
                                                    <app-pokemon-card
                                                        [id] = pokemon.number!
                                                        [img] = getImage(bet,pokemon.number)
                                                        [name] = pokemon.name
                                                    ></app-pokemon-card>
                                                }
                                            }
                                        </div>
                                        <hr>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p>Retorno:</p>
                                            <p>{{ bet.value | currency:'BRL' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            @else {
                <img src="assets/icons/not-found.png">
                <p class="text-center">O Pichu procurou tanto<br>que voltou evoluído</p>
            }
        </div>
    </section>
</div>
