.main{
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
}
.option{
    display: flex;
    width: 90%;
    max-width: 30rem;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}